body
{
	font-size: 15px;
	color: #353535;
	background-image:url(img/Fondo.jpg);
	font-family: "segoe-ui", "open-sans", tahoma, arial;
	padding: 0;
	margin: 0;
}

.btnAgg
{
	text-align: center;
	position: absolute;
	margin-top: 50%;
}

h2
{
	text-align: center;
}

.msjdel
{
	text-align: center;
	margin-top: 10px;
}

.bloqueTabla
{
	width: fit-content;
    background: rgb(49, 48, 48);
    height: fit-content;
    padding: 50px 25px;
    border-radius: 30px;
    /*position: absolute*/;
    left: 50%;
    top: 10px;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
	font-size: 12px;
}

h1 {
	margin: 25px auto 0;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 20px;
}

div
{
	margin: 25px auto 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
}

table td
{
	transition: all .5s;
}

/* Tabla */
.tabla_datos
{
	border-collapse: collapse;
	font-size: 14px;
	min-width: 537px;
}

.tabla_datos th, 
.tabla_datos td
{
	border: 1px solid #e1edff;
	padding: 7px 17px;
}

.tabla_datos caption
{
	margin: 7px;
}

/* Header de la tabla*/
#titulo
{
	background-color: #508abb;
	color: #000000;
	border-color: #6ea1cc !important;
	text-transform: uppercase;
	font-size: 30px;
}

/* cuerpo de la tabla */
.tabla_datos tbody td
{
	color:#FFFFFF;
	font-size: 20px;
}

.tabla_datos tbody td:first-child,
.tabla_datos tbody td:nth-child(4),
.tabla_datos tbody td:last-child
{
	text-align: right;
}

.tabla_datos tbody tr:nth-child(odd) td
{
	background-color: #353535;
}

.tabla_datos tbody tr:hover td
{
	background-color: #ffffa2;
	border-color: #ffff0f;
}

/* Footer de la tabla*/
.tabla_datos tfoot th
{
	background-color: #e5f5ff;
	text-align: right;
}

.tabla_datos tfoot th:first-child
{
	text-align: left;
}

.tabla_datos tbody td:empty
{
	background-color: #ffcccc;
}